* {
  margin: 0;
  padding: 0;
}

.background {
  background: yellow;
  width: 400px;
  display: flow-root;
}

.float {
  background: navy;
  color: white;
  width: 150px;
  height: 150px;
  float: right;
}